<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %} Test Catalog {% endblock %}</title>
    <meta content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL}}js/script.js"></script>
</head>
<body>
    <div class="content" style="min-height: 600px">
        <div class="top_block block_2">
            {% include "includes/header.html" %}
        </div>
        {% block outer_sidebar %}
        <div class="background block_1">
        </div>
        <div class="right_block block_1">
            <div class="content">
                {% block sidebar %} {% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}

    </div>

    {% include "includes/footer.html" %}

</body>
</html>
