{% extends "base.html" %}

{% block title %}Поиск товара &ndash; TestCatalog {% endblock %}

{% block content %}

    <h2>Вы искали «{{ term }}»</h2>

    {% if count %}
    <h3 class="headline">Нашлось товаров: {{ count }}.</h3>
    {% else %}
    <h3 class="headline">Товаров не нашлось, попробуйте другой запрос.</h3>
    {% endif %}

    <div class="back">
        <a href="{% url catalog_index %}">Перейти в каталог</a>
    </div>


    <div class="new-goods">
    <h3>Все товары</h3>
    <table class="goods-table">
        <col/><col width="45%"/><col width="20%"/><col/>
        <thead>
            <tr><th>№</th><th>Товар</th><th>Производитель</th><th>Магазин</th></tr>
        </thead>
        <tbody>
            {% for good in goods %}
               <tr class="{% cycle 'odd' 'even' %}">
                   <td>{{ forloop.counter }}</td>
                   <td><a href="{% url good good.good.id %}">{{ good.good.name }}</a></td>
                   <td><a href="{% url producer good.good.producer.id %}">{{ good.good.producer.name }}</a></td>
                   <td><a href="{% url shop good.shop.id %}">{{ good.shop.name }}</a></td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block sidebar %}
<h2>Поиска товара</h2>
<form class="search" action="{% url search %}">
    <input name="term" value="{{ term }}" placeholder="Найти товар"/>
</form>
{% endblock %}